page-login {
    .background {
        background-color: rgba(20, 65, 199, 0.822)
      }
    login{
        background-image: url('../../img/bluebackground.jpeg');
    }     
    .loginpgLogo{
        display: flex;
        justify-content: center;
        margin-top: 20%;
        margin-bottom: 5%;
     }
     .textcolor{
         color: #488aff,
         
     }
     .titlestyle{
         color: white;
         text-align: center;
         font-size: 24px;
     }
     .logintextstyle{
        color: white;
        text-align: center;
        font-size: 16px;
    }
}
